/*GENERAL*/
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
img{
    width:40%;
}
a:visited, a:focus{
    color: black;
    text-decoration: none;
}

:root{
    --primary:#0065fc;
    --secondary:#deebff;
    --inactive:#f2f2f2;
    --background:#ffffff;
}



.boutonfiltre:hover{
    background-color:lightgrey;
}

* {
    text-decoration: none;
    scroll-behavior: smooth;
}

main{
display:block;
padding: 0px 32px; 
} 

body{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin:0;
        
}  

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 32px;
}


.headersignup{
    color:blue !important;
    margin-right:3px;
    padding:2rem; 
    font-weight: bold;
    border-top: 5px solid transparent;
}

.navbar{
    display: flex;
}

#conteneur-logo{
    width : 300px
}

.nav-link{
    padding: 30px;
    font-weight: 500;
    text-align: center;
    border-top: 5px solid transparent;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.nav-link:hover{
    color: var(--primary);
    border-top: 5px solid var(--primary);
}

.register{
    display: flex;
    align-items: center;
    grid-area: register;
    padding: 30px;
    color: var(--primary);
    font-weight: 500;
    font-size: 18px;
    border-top: 5px solid transparent;
}

.link{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-bottom: 1em;
}

h1,
h2,
h3
{
    font-family: "Raleway-Bold";
}

 
 .texteGras{
     font-weight: bold;
    }

.color bleu{ 
    color: #0065FC;
}   

 
.color gris{
    color:grey;
} 
  
.color white{
    color:white;
} 

.color black{
    color: black;

}
/*BARRE DE RECHERCHE*/

.rechercher {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 52px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

#input-search{
    outline-width: 0;
}

.search {

    display:inline-flex;
    width: 400px; 
    overflow: auto;
  }

.search::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
}

.search .fa-map-marker-alt{
    background-color: #F2F2F2;
    width: 3.1875rem;
    height: 3.1875rem;
    border-radius: 0.9375rem 0 0 0.9375rem;
    display: flex;
    justify-content:center;
    align-items: center;
}


.search-result {
    display:flex;
    align-items: center;
    margin:1rem 0 2rem 0;
   
}   
.search-result i {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    
} 
.fa-info {
    color:blue;
    border: solid 0.0625rem #D9D9D9;
    width: 2rem;
    height: 2rem;
    min-width: 1rem;
    min-height: 2rem;
    border-radius: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
}


/*Filtres*/

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    margin-top:2rem;
}

.title {
margin-right: 30px;
font-size: 1.25em;
font-family: "Raleway-Bold";
}

.boutonfiltre {
    display:flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius:2rem;
    margin-right:15px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    position:relative;
   
}
.boutonfiltre i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonfiltre p {
    margin: 12px;
}
.content {
    display:flex;
    align-items: center;
   
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    font-size:1.5em;
}


/* PARAMETRES HEBERGEMENTS */
.hebergementsEtPopulaire {
    display: flex;
    justify-content: space-between;
}

.hebergements {
    display: flex;
    flex-direction: column;
    width: 67%;
    background-color: #f2f2f2;
    border-radius: 20px;   
}
.hebergement-title1, .hebergements-cartes, .hebergement_montrer_plus{
    width: 95%;
    margin: auto;
}
.hebergements-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    
}

.hebergement-carte{
  border: 6px solid white;
  border-radius: 2rem;
  width: 31%;
  background-color: white;
  margin-bottom:30px;
}

.fas {
    color: blue;
    font-weight: 900;
    
}

.photos_hebergements {
    object-fit: cover;
    width: 100%;
    height: 112px; 
    border-bottom-right-radius: 10px ;
    border-top-left-radius: 10px;
    border-radius: 1.25rem 1.25rem 0 0;
}



.hebergement_montrer_plus {
    font-weight: bold;
    color:black;
    text-decoration:none ;
    margin: 0.875rem 0 2.875rem 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}


/* PARAMETRES LES POPULAIRES */

.populaires{
    width: 30%;
    background:#f2f2f2;  
    border-radius: 20px;
}

.titre-populaire{
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: #f2f2f2;
   width: 90%;
   margin: auto;
}

.fa-chart-line{
  color: black;
  
}

.fas.fa-star.gray{

	color: #dcdcdc;
}

.populaires-carte{
    border: 5px solid white;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 30px;
    max-height: 230px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;

}


.photos_populaires {
    border-radius: 20px 0px 0px 20px;;
    object-fit: cover;
    border-style: none;
    max-width: 25%;
    height: 135px;
    background-size:cover ;
    background-position: center;
    
}

.carte-body{
   width: 70%;
   border-radius: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-content: flex-start;
   align-items: flex-start;
   height: 150px;

}    



/* PARAMETRES ACTIVITES A MARSEILLE */
.activites{
    padding: 0px 32px;
    margin: 4rem 0;

}

#bloc-activite{
    display: flex;
    justify-content: space-between;
    border-radius:1.25rem 0 0 1.25rem;
}

.Titre-Activites {
    margin-bottom: 30px;
    margin-top: 30px ;
    font-size: 0,9375rem;
    font-weight: bold;
    margin:auto;  
    
}

h3{
    font-size: 1.17em; ;
    margin-top : 0 ;
}


.activites-cartes {
    width:21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites-cartes1 {
    height: 446px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 15px;
    
}

.activites-cartes1, .activites-cartes2, .activites-cartes3, .activites-cartes4{
    box-shadow: 0 0 10px #0000002e;
    border-radius: 15px;
    height: auto;
    margin-bottom: 15px;
} 

.activites-cartes1 img {
    height: 390px;
    width: 100%;
    object-fit: cover;
    border-style: none;
    border-radius: 20px 20px 0 0;
}

.activites-cartes2{
    height: 237px;
    width: 100%;
    border-radius: 15px;
}

.activites-cartes2 img {
    height: 180px; 
    width: 100%;
    object-fit: cover;
    border-style: none;
    border-radius: 20px 20px 0 0;
}

.activites-cartes3{
    height: 164px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
 
}

.activites-cartes3 img {
    height: 110px; 
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* PARAMETRES FOOTER */
footer{
    background-color: #f2f2f2;
}

.Footer{
    margin-left:30px;
}

.footer-bloc{
    width: 95%;
    margin: auto;
    display: flex;
}    
.footer-bloc ul{
    list-style: none;
    padding: 0;
    margin-top: 3.0625rem;
    width:33%;
}
.footer-bloc .title{
    font-size: 1.0625rem;
    font-weight: bold;
}
.footer-bloc a{
    display: block;
    text-decoration: none;
    color: #000;
    margin-top: 0.9375rem;
}
.footer-bloc a:hover{
    color: #0065FC;
}



    
    
