h1{
    color:black;
}

.hebergementsEtPopulaire {
    flex-direction: column;
}

.populaires {
    width: 100%;
    margin-top: 50px;
}

.hebergements {
    width:100%;
}

.populaires-cartes{
    display : flex;
}

.populaires-carte {
    width : 40%;
}

#conteneur-logo{
    width: 130px;
}

.populaires-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}