/*GENERAL*/
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary:#0065fc;
    --secondary:#deebff;
    --inactive:#f2f2f2;
    --background:#ffffff;
}

* {
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway' , Arial, sans-serif; 
    margin:0;
    padding: 0;
   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
}


.headersignup{
    display:flex;
    max-width: 100%;
    margin-right:3px;
    font-weight: bold;
}
.navbar{
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.navbar{
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.logo{
    grid-area: logo;
    padding:0 30px;
    height: 60px;
}
.nav-link{

    padding: 30px;
    font-weight: 500;
    text-align: center;
    border-top: 5px solid transparent;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.active{
    color: var(--primary);
    border-top: 5px solid var(--primary);
}
.register{
    display: flex;
    align-items: center;
    grid-area: register;
    padding: 30px;
    color: var(--primary);
    font-weight: 500;
    font-size: 18px;
    border-top: 5px solid transparent;
}

.link{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-weight: bold;
}

 
 .texteGras{
     font-weight: bold;
    }

.color bleu{ 
    color: #0065FC;
}   

 
.color gris{
    color:grey;
} 
  
.color white{
    color:white;
} 

.color black{
    color: black;

}
/*BARRE DE RECHERCHE*/

.rechercher {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 52px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.search {

    display:inline-flex;
    width: 400px; 
    overflow: auto;
     
  }

.search::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
}

.search .fa-map-marker-alt{
    background-color: #F2F2F2;
    width: 3.1875rem;
    height: 3.1875rem;
    border-radius: 0.9375rem 0 0 0.9375rem;
    display: flex;
    justify-content:center;
    align-items: center;
}


.search-result {
    display:flex;
    margin: 1rem 0 2rem 0;
    align-items: center;
}   
.search-result i {
    display:flex;
    justify-content: center;
    align-items: center;
} 
.fa-info {
    color: #0065FC;
    border: solid 0.0625rem #D9D9D9;
    width: 1.5rem;
    height: 1.6rem;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}


/*Filtres*/



.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 2rem;
     
}

.title {
margin-right: 20px;
}
.boutonfiltre {
    display:flex;
    align-items: center;
    margin-right: 2rem;
    border: 1px solid #000;
    border-radius: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-weight: bold;
}


.content {
    display:flex;
    align-items: center;
   
}

.fa-money-bill-wave,
.fa-male,
.fa-heart,
.fa-dog {
    color: #0065FC;
    font-size: 1.5em;
    border-radius: 100%;
    
}

h2{
font-weight: bold;
font-size: 1.5rem;
}



/* PARAMETRES HEBERGEMENTS */
.hebergementsEtPopulaire {
    display: flex;
    justify-content: space-between;
}

.hebergements {
    display: flex;
    flex-direction: column;
    width: 67%;
    background-color: #f2f2f2;
    
}
.hebergements-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2rem;
    border-radius: 20px;
    
}

.hebergement-carte{
  border-radius:10px;
  width: 30%;
  background-color: white;
  
}

.fas {
    color: blue;
    font-weight: 900;
    
}

.photos_hebergements {
    object-fit: cover;
    width: 100%;
    height: 112px; 
    border-bottom-right-radius: 10px ;
    border-top-left-radius: 10px;
}


.hebergement_montrer_plus {
    font-weight: bold;
    color:black;
    text-decoration:none ;
    margin: 0.875rem 0 2.875rem 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}


/* PARAMETRES LES POPULAIRES */

.populaires{
    width: 30%;
    background:#f2f2f2;  
}

.titre-populaire{
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: #f2f2f2;
   width: 100%;
}


.populaires-carte{
    height: 50%;
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 6px 58px 6px 6px;
    max-width: 284px;
    max-height: 135px;
    margin-bottom: 29px;
    padding-right:20px ;

}

.photos_populaires {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 57%;
    height: 60px;
    background-size:cover ;
    background-position: center;

}


/* PARAMETRES ACTIVITES A MARSEILLE */

.Titre-Activites {
    margin-bottom: 30px;
    margin-top: 30px ;
    font-size: large;
    font-weight: bold;
}

.bloc-cartes {
width: 100%;
height: 200px;

}   

.Activites-cartes {
    width: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
    
}

.photos-activites {
  width: 100%;
}


h3{
font-size:  0,9375rem;
margin:1,25 rem 1,25 rem 0 1,25 rem; 
}







/* PARAMETRES FOOTER */




